/* Style for syntax highlighting */
body {
  margin:  0;
  width: 50em;
  font-family: Montserrat, sans-serif;
}

/* Header and footer */

footer,
header {
  margin: 1em;
  border: #13294b solid 2px;
  background: #13294b;
  color: white;
}

header {
  margin-top: 0;
  padding-top: 2.5em;
}

header .skip-to {
  top: 0em;
  left: 20em;
}

header .course {
  font-size: 2.0em;
  font-weight: bold;
  text-align: center;
}

header .lecture {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

header nav ul {
  margin: 1em;
}

header a,
footer a {
  margin: 0;
  padding: 4px;
  color: white;
  display: inline-block;
  outline: none;
  text-decoration: none;
}

header a[aria-current] {
  padding-bottom: 2px;
  border-bottom: 2px solid white;
}

header a:focus,
header a:hover,
footer a:focus,
footer a:hover {
  padding: 2px;
  border: 2px solid white;
  border-radius:  5px;
  text-decoration: underline;
}

footer {
  margin: 1em;
  margin-top: 5em;
  padding: 0.25em;
  border: #13294b solid 2px;
  background: #13294b;
  color: white;
}

footer .copyright {
  font-family: serif;
  font-style: italic;
}

footer .copyright img {
  margin: 0;
  padding: 0;
  height: 1em;
  position: relative;
  top:  0.25em;
}

/* main */

main {
  margin: 1em;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color:  #13294b;
}

main section.options {
  padding: 0.5em;
  border-radius:  8px;
  background-color: #eee;
}

main a {
  padding: 4px;
  color: #13294b;
  display: inline-block;
}

main p a {
  display:  inline;
}

main a:focus,
main a:hover {
  padding: 2px;
  border: 2px solid #13294b;
  border-radius: 5px;
  background-color: #def;
}

main label:not([for]) {
  margin: 1px;
  padding: 4px 6px;
  display: inline-block;
  border-radius: 8px;
}

main label.checked {
  background-color: white;
}

main label:not([for]).focus,
main label:not([for]):hover {
  padding: 2px 4px;
  border: 2px solid #13294b;
  border-radius: 5px;
  background-color: #def;
}

main input:focus {
  color: #13294b;
}

/* Code blocks */
pre,
code,
samp,
.sourcecode {
  color: hsl(11, 81%, 43%);
}

pre code:not(.hljs),
.sourcecode:not(.hljs) {
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.2em;
  overflow: auto;
  background: hsl(24, 20%, 95%);
}

/* Keyboard data table */

kbd {
  font-style: italic;
  font-family:  monospace;
  border: none;
}

table.keyboard {
  width: 100%;
  border-spacing: 0;
  border-left: 0.5em #8ccbf2 solid;
}

table.keyboard th,
table.keyboard td {
  background-color: #def;
  padding: 0.5em;
  vertical-align: baseline;
  border-bottom: 1px solid #8ccbf2;
}

table.keyboard th {
  text-align: left;
  font-style: italic;
  font-weight: normal;
  padding-left:  1em;
  width:  3em;
}

table.keyboard tbody tr td:nth-child(2) {
  padding-left: 2em;
}

details.keyboard summary {
  margin: 2px;
  padding: 4px;
  color: #13294b;
  white-space: nowrap;
  max-width: 20em;
}


details.keyboard summary:focus,
details.keyboard summary:hover {
  padding: 2px;
  border: 2px solid #13294b;
  border-radius: 5px;
  background-color: #def;
}


/* Style all kbd elements that are not in table headers */

table.data.attributes tbody th,
table.data.attributes tbody td {
  border: 1px solid silver;
}


/* Options styling */

section.options legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

section.options ul {
  margin: 0.5em;
  padding: 0;
  list-style: none;
}

section.options li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section.options input {
  outline: none;
}

