.disclosure-nav {
  background-color: #13294b;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.disclosure-nav li {
  margin: 0;
  padding: 0;
}

.disclosure-nav > li {
  padding: 2px;
  display: inline-block;
  position: relative;
}

.disclosure-nav ul {
  margin: 0;
  padding: 0;
  background-color: #13294b;
  border: 2px solid #13294b;
  display: block;
  list-style-type: none;
  min-width: 7em;
  position: absolute;
  top: 100%;
}

.disclosure-nav button {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 4px 42px 4px 6px;
  border: none;
  border-radius: 5px;
  text-align: left;
  background-color: transparent;
  display: inline-block;
  color: white;
  font-size: 125%;
  position: relative;
}

.author-focus .disclosure-nav button {
  padding: 2px 40px 2px 4px;
  border: 2px solid transparent;
}

.disclosure-nav button span {
  position:  absolute;
  right: 4px;
}

.author-focus .disclosure-nav button span {
  right: 2px;
}

.disclosure-nav button span::after {
  content: '▼';
  color: currentColor;
}

.disclosure-nav button[aria-expanded="true"] span::after {
  content: '▲';
}


.disclosure-nav > li ul {
  display: none;
}

.disclosure-nav > li ul.show {
  display: block;
}

.disclosure-nav ul a {
  margin: 0;
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  text-decoration: underline;
  white-space: nowrap;
}

.author-focus .disclosure-nav ul a {
  padding: 2px 4px;
  border: 2px solid transparent;
}

.no-focus .disclosure-nav button:focus,
.no-focus .disclosure-nav a:focus {
  outline: none;
}

.author-focus .disclosure-nav button:focus,
.author-focus .disclosure-nav ul a:focus,
.author-focus .disclosure-nav button:hover,
.author-focus .disclosure-nav ul a:hover {
  border-color: white;
  outline: none;
}

.no-focus .disclosure-nav button:hover,
.no-focus .disclosure-nav ul a:hover,
.author-hc-focus .disclosure-nav button:focus,
.author-hc-focus .disclosure-nav ul a:focus,
.author-hc-focus .disclosure-nav button:hover,
.author-hc-focus .disclosure-nav ul a:hover {
  border: 2px solid white;
  outline: none;
}

.no-focus .disclosure-nav button:hover,
.default-focus .disclosure-nav button:hover,
.author-hc-focus .disclosure-nav button:focus,
.author-hc-focus .disclosure-nav button:hover {
  padding: 2px 40px 2px 4px;
}

.no-focus .disclosure-nav ul a:hover,
.default-focus .disclosure-nav ul a:hover,
.author-hc-focus .disclosure-nav ul a:focus,
.author-hc-focus .disclosure-nav ul a:hover {
  padding: 2px 4px;
}

.no-focus .disclosure-nav button:hover span,
.default-focus .disclosure-nav button:hover span,
.author-hc-focus .disclosure-nav button:focus span,
.author-hc-focus .disclosure-nav button:hover span {
  right: 2px;
}

.disclosure-page-content {
  padding: 0.5em;
  border: 2px solid #13294b;
}
