main a[onclick] {
  text-decoration: underline;
}

main .control {
  margin: 2px;
  padding: 2px;
}

main fieldset {
  width: 20em;
}

main .control ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main .control label[for] {
  margin: 2px;
  padding: 2px;
  display: block;
}

main .control label:not([for]) {
  display: inline-block;
}


main .control details > details {
  position: relative;
  left: 1em;
}

main .no-focus a:focus,
main .no-focus button:focus,
main .no-focus input:focus,
main .no-focus select:focus,
main .no-focus summary:focus,
main .no-focus textarea:focus,
main .author-focus a:focus,
main .author-focus input[type="checkbox"]:focus,
main .author-focus input[type="radio"]:focus,
main .author-focus summary:focus {
  outline: none;
}

main .no-focus label:not([for]).focus,
main .default-focus label:not([for]).focus {
  padding: 4px 6px;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

main .other details > details {
  position: relative;
  left: 1em;
}

main .no-focus .links a,
main .default-focus .links a,
main .author-focus .links a,
main .author-focus .control input[type="radio"],
main .author-focus .control input[type=checkbox] {
  padding: 4px;
  display:  inline-block;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

main .author-focus summary {
  padding: 4px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

main .author-focus .links a,
main .author-focus summary,
main .author-focus .control input[type="radio"],
main .author-focus .control input[type="checkbox"] {
  cursor: pointer;
}

main .control button,
main .control input:not([type="radio"]):not([type=checkbox]),
main .control select,
main .control textarea {
  margin: 6px;
  padding: 2px;
  cursor: pointer;
  display:  block;
}


main .author-focus button:focus,
main .author-focus button:hover,
main .author-focus input:not([type="radio"]):not([type=checkbox]):focus,
main .author-focus input:not([type="radio"]):not([type=checkbox]):hover,
main .author-focus select:focus,
main .author-focus select:hover,
main .author-focus textarea:focus,
main .author-focus textarea:hover {
  outline: 2px solid #13294b;
  outline-offset: 2px;
  border-radius:  3px;
  background-color: #def;
}

main .author-focus .links a:focus,
main .author-focus .links a:hover,
main .author-focus .control input[type="radio"]:focus,
main .author-focus .control input[type="radio"]:hover,
main .author-focus .control input[type="checkbox"]:focus,
main .author-focus .control input[type="checkbox"]:hover {
  padding: 2px;
  border: 2px solid #13294b;
  background-color: #def;
}

main .author-focus summary:focus,
main .author-focus summary:hover {
  padding: 2px;
  border: 2px solid #13294b;
  background-color: #def;
}
